/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    }
    
    /* Estilização das seções */
    .section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    
    /* Cores para cada seção */
    #section1 {
    background-color: #DEAA79; /* Azul claro */
    color: #000000; /* Azul escuro */
    }
    
    #section2 {
    background-color: #000B58; /* Rosa claro */
    color: #4CC9FE; /* Rosa escuro */
    }
    
    #section3 {
    background-color: #229799; /* Verde claro */
    
    color: #F5F5F5; /* Verde escuro */
    }
    
    /* Estilo dos títulos */
    h1 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    }
    
    h2 {
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
    font-style: italic;
    }
    
    /* Estilo do texto */
    p {
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
    }
    
    /* Estilo das imagens */
    img {
    display: block;
    margin: 15px auto;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    
    }
